<h1>Workout on <%= @workout.date %></h1>
<p>Bodyweight: <%= @workout.bodyweight %></p>
<% @workout.exercises.each do |exercise| %>
  <p>
    Exercise: <%= exercise.name %><br>
    Weight: <%= exercise.weight %><br>
    Sets: <%= exercise.sets %><br>
    Reps: <%= exercise.reps %>
  </p>
<% end %>
<a href= <%= "/workouts/#{@workout.id}/edit" %> >Edit Workout</a><br>

<form method="post" action="/workouts/<%=@workout.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Workout">
</form><br><br>

<a href="/">Back to Profile</a>
