<h1><%=@user.username%>'s Profile Page</h1>
<br><br>

<h2>Best Lifts:</h2><br>



<a href="/workouts/new">Add Workout</a><br>

<h2>Previous Workouts:</h2>
<%@user.workouts.each do |workout|%>
  Date: <%=workout.date%><br>
  Bodyweight: <%=workout.bodyweight%><br>
  Exercises: <%workout.exercises.each_with_index do |exercise, i|%>
                <%=exercise.name%>
                <%="," if workout.exercises.size > i+1%>
              <%end%>
  <br>
  <a href="/workouts/<%=workout.id%>">View Workout</a><br><br>
<%end%>
